<div>
	Hi, <strong><%= @username %></strong>, you can reset your password by clicking this link <br>
	<a href="<%= @reset_password_link %>"><%= @reset_password_link %></a> <br>
	Please note that this link will <strong>expire in 2 hours</strong>.
</div>