<h2> School Profile </h2>
<dl class="dl-horizontal"> 
  <dt> Name </dt>
  <dd><%= @college.school_name -%></dd>
  <dt> Year </dt>
  <dd><%= @college.school_year ? @college.school_year : "N/A" -%></dd>
	<dt>Type</dt>
	<dd><%= @college.school_type ? @college.school_type : "N/A" -%></dd>
  <dt> Address </dt>
  <dd><%= @college.address ? @college.address : "N/A" -%></dd>
</dl>