<h1>Staff Profile</h1>
<script type="text/javascript">
  $(document).ready(function() {
    $('a[name="edit-profile-button"]').click(function() {
      $('.spinner-model').show();
    });
  });
</script>
<dl class="dl-horizontal">
    <dt> First Name </dt>
      <dd>
        <% if @staff.first_name %>
          <%= @staff.first_name %>
        <% end %>
      </dd>
    <dt>Last Name</dt>
      <dd>
        <% if @staff.last_name %>
          <%= @staff.last_name -%>
        <% end %>
      </dd>

    <dt> Description </dt>
      <dd>
        <% if @staff.description %>
          <%= @staff.description -%>
        <% end %>
      </dd>

</dl>

<% if is_staff? and current_user.getUser.id == @staff.id  %>
  <div class="pull-right button-group">
    <%= link_to 'Edit profile', edit_staff_profile_path(@staff), name: "edit-profile-button", class: "button blue" -%>
  </div> 
<% end %>