<%= javascript_include_tag 'interviews.js' %>
<h1>Create Interviews<i class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Drag and drop time slots to create interviews. Click on interview slots to delete."></i></h1>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<div id='calendar'></div>
