<%= javascript_include_tag 'interviews.js' %>
<div style='margin: 40px;'></div>
<p><b>Drag and drop</b> time slots to <b>create</b> interview slots. <b>Click</b> on interview slots to <b>delete</b>. </p>
<div id='calendar'></div>
