<h2> All Applications </h2>
<table class="data-table table table-striped">
	<thead>
	  <tr>
	  	<th> Applicant Name </th>
	  	<th> Applied Position </th>
	  	<th> Applied Date </th>
      <th> Interview Status </th>
	  </tr>
	</thead>
	<tbody>
	  <% @jobs.each do |job| %>
		  <% job.applications.each do |application| %>
			  <tr>
			    <td><%=link_to "#{application.student.first_name} #{application.student.last_name}", single_student_profile_path(application.student.account.id) %></td>
			    <td><%= application.job.title %></td>
			    <td><%= application.created_at %></td>
          <td><%= link_to "View/Schedule Interview", company_interviews_path(:application_id => application.id) %></td>
			  </tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable();
  })
</script>
