<h2> My Applications </h2>
<table class="job_list" border = "1" style="width: 700px";>   
  <tr>
  	<th> Applied Company </th>
  	<th> Applied Position </th>
  	<th> Applied Date </th>
    <th> Interview Status </th>
  </tr>
  <% @applications.each do |application| %>
	  <tr>
	    <td><%= application.job.company.name %></td>
	    <td><%= application.job.title %></td>
	    <td><%= application.created_at %></td>
      <td><%= link_to "View Details", interview_student_show_path %></td>
	  </tr>
	<% end %>
</table>
