<h1> My Applications </h1>
<table class="data-table table table-striped">
	<thead>
	  <tr>
	  	<th> Applied Company </th>
	  	<th> Applied Position </th>
	  	<th> Applied Date </th>
      <th> Interview Status </th>
	  </tr>
	</thead>
	<tbody>
	  <% @applications.each do |application| %>
		  <tr>
		    <td><%= application.job.company.name %></td>
		    <td><%= application.job.title %></td>
		    <td><%= application.created_at.strftime('%D') %></td>
        <td>
          <% if !application.interviews.nil? %>
          <%= link_to "View Details", interview_student_new_path(application)%>
          <% else %>
            Pending
          <% end %>
        </td>
		  </tr>
		<% end %>
	</tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable();
  })
</script>
