<h2>Browse Jobs</h2>
<table class="data-table table table-striped">   
  <thead>
    <tr>
    	<th> Position </th>
    	<th> Company </th>
    	<th> Salary </th>
    	<th> Updated </th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
  	  <tr>
  	   <% if !job.company.nil? %>
  	    <td><%=link_to "#{job.title}", view_single_job_path(job.id) %></td>
  	    <td><%= job.company.name %></td>
  	    <td><%= job.salary %></td>
  	    <td><%= job.updated_at.strftime('%D') %></td>
  	    <% end %>
  	  </tr>
  	  <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable();
  })
</script>
