<dl class="dl-horizontal">
	<dt>Country</dt>
	<dd>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="country" data-query='US' id='us' >United States</span>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="country" data-query='intl' id='intl' >International</span>
	</dd>

	<dt>Gender</dt>
	<dd>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="gender" data-query='male' id='m' >Male</span>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="gender" data-query='female' id='f' >Female</span>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="gender" data-query='other' id='o' >Others</span>
	</dd>

	<dt>Class</dt>
	<dd>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="class" data-query='2015' id='2015' >2015</span>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="class" data-query='2016' id='2016' >2016</span>
	<span class="checkbox-group"><input type="checkbox" class="request" data-category="class" data-query='2017' id='2017' >2017</span>
	</dd>
</dl>
<script type="text/javascript">
	// $('.request').prop("checked", true);
</script>