<%= javascript_include_tag '/queue.v1.min.js' %>
<%= javascript_include_tag 'usSalaryMap.js' %>

<h1>Smart Data Report - Region<i class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Hover over a state to see the details"></i></h1>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<%= render 'options' %>
<div class='map-container'>
    <div id='usmap'></div>
    <div id='map-detail'>
        <div class="map-detail-label">Details</div>
        <div id='map-text'>
            <div id='state'></div>
            <div id='average'></div>
            <div id='count'></div>
        </div>
    </div>
</div>
