<%= javascript_include_tag '/queue.v1.min.js' %>
<%= javascript_include_tag 'geocashmap.js' %>

<h1>Smart Data Report - Region<i class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Hover over a state to see the details"></i></h1>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<%= render 'options' %>
<div id='usmap'></div>
