<!DOCTYPE html>
<meta charset="utf-8">
<body>
<%= javascript_include_tag 'visualizations.js' %>
<div style='margin: 40px;'></div>
<div id='country' class='vis'></div>
<div id='gender' class='vis'></div>
<div id='major' class='vis'></div>
<div id='class' class='vis'></div>
</body>
