<!DOCTYPE html>
<meta charset="utf-8">
<body>
<%= javascript_include_tag 'visualizations.js' %>

<div style='margin: 40px;'>
    <div id='country' class='visLeft'></div>
    <div id='gender' class='visRight'></div>
    <div id='major' class='visLeft'></div>
    <div id='class' class='visRight'></div>
</div>
</body>
