<label>Country:</label>
<button class='request' id='us' >U.S.</button>
<button class='request' id='intl' >Intl</button>
<label>Gender:</label>
<button class='request' id='m' >Male</button>
<button class='request' id='f' >Female</button>
<button class='request' id='o' >Others</button>
<label>Class:</label>
<button class='request' id='2015' >2015</button>
<button class='request' id='2016' >2016</button>
<button class='request' id='2017' >2017</button>

<div style='margin: 40px;'>
    <div id='major' class='visLeft'></div>
    <div id='class' class='visRight'></div>
    <div id='country' class='visLeft'></div>
    <div id='gender' class='visRight'></div>
</div>

<%= javascript_include_tag 'visualizations.js' %>
