<h1> <%= "Attendees List for #{@event.title}" %></h1>
<table class="data-table table table-striped">
  <thead>
    <tr>
      <th> Attendee Name </th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <% case attendee.account_type
           when 1 %>
          <td><%= attendee.student.first_name + " " + attendee.student.last_name %></td>
        <% when 2 %>
          <td><%= attendee.staff.first_name + " " + attendee.staff.last_name %></td>
        <% when 3 %>
          <td><%= attendee.company.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable({
      "pageLength": 25,
      "lengthMenu": [ 25, 50, 100 ]
    });
  })
</script>
