<h2>Browse Events</h2>
<table class="data-table table table-striped">
  <thead>
    <tr>
      <th> Event </th>
      <th> Time Start </th>
      <th> Time End </th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% if !event.title.nil? %>
        <tr>
          <td><div class="event_title"><%= link_to event.title, event_path(event) %></div></td>
          <td><div class="time_start"><%= event.time_start.strftime('%D %H:%M %p') %></div></td>
          <td><div class="time_end"><%= event.time_end.strftime('%D %H:%M %p') %></div></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable();
  })
</script>
<div class="pull-right button-group">
  <%= link_to 'Create New Event', new_event_path, class: "button blue" %>
</div>
