<h1>Browse Events</h1>
<table class="data-table table table-striped">
  <thead>
    <tr>
      <th> Event </th>
      <th> Time Start </th>
      <th> Time End </th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <% if !event.title.nil? %>
        <tr>
          <td><div class="event_title"><%= link_to event.title, event_path(event) %></div></td>
          <td><div class="time_start"><%= event.time_start.strftime('%D %H:%M %p') if event.time_start %></div></td>
          <td><div class="time_end"><%= event.time_end.strftime('%D %H:%M %p') if event.time_end %></div></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('.data-table').dataTable({
      "pageLength": 25,
      "lengthMenu": [ 25, 50, 100 ]
    });
  })
</script>
<%if @current_user.account_type == 2%>
<div class="pull-right button-group">
  <% if account_type == 2 %>
  <%= link_to 'Create New Event', new_event_path, class: "button blue" %>
  <% end %>
</div>
<%end%>
