<p>Hi <%= @application.student.first_name %></p>
<p>You have applied <strong><%= @application.job.title %></strong> from <strong><%= @application.job.company.name %></strong>. Thank you for using CareerNet and good luck!</p>
<p>CareerNet</p>
