<div class="account-index">

</div>

<div class="account-index-overlay">
	<div class="row">
		<div class="logo-text">
			CareerNet
		</div>
	</div>	
	<div class="row">
		<div class="login-field">
			<input type="text" name="email" placeholder="Email">
			<input type="password" name="password" placeholder="Password">
			<button class="btn login">Login</button>
		</div>
	</div>
</div>