.fc-button {
	border: none !important;
  background: none !important;
  box-shadow: none !important;
}  

.fc-button-today {
	border: 1px solid black !important;
	color: black !important;
	font-weight: 700 !important;
}