.desc{
	width: 300px;
	height: 50px;
	white-space: normal;
	overflow: scroll;
  	text-overflow: ellipsis;
  	font-size: 12px;
}

.job_title{
	width: 200px;
	height: 50px;
	font-size: 12px;
}

.date{
	width: 80px;
	height: 50px;
	font-size: 12px;
}

.company{
	height: 50px;
	font-size: 12px;
}

.salary{
	height: 50px;
	font-size: 12px;
}
