.past_ex {
    display: inline-block;

  }
  .update_exp_button {
    background-color: #78c272;
  }

  .cancelbutton {
    background-color: #6392c0;
  }

  .blue_button {
    background-color: #6392c0;

  }
  .ex_title {
      font-size:20px;
      
  }
  .past_proj {
    margin-top: 30px;


  }