/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.visLeft {
    float: left;
    width: 50%;
    overflow: hidden;
}

.visRight {
    overflow: hidden;
}
