/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

tbody th {
  font-weight: 100;
}

#pieChart {
  text-align: center;
  margin: 50px 0px;
  padding-top: 10px;
  border: 2px solid #ddd;
}

.single-pie-chart {
	border: 1px #eee solid;
  margin-top: 30px;
	svg {
	  height: 210px;
  	width: 600px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
		margin-top: 20px;
  	margin-bottom: 10px;
	}
}

input[type="checkbox"] {
	 width: initial;
	 margin-right: 5px !important;
}

span.checkbox-group {
	margin-left: 10px;
}

.report-title {
  text-align: center;
  font-size: 17px;
  color: #999;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 15px;
}

i.help {
  display: inline;
  position: relative;
  margin-left: 15px;
  top: -4px;
}

.map-container {
    width: 100%;
    overflow: hidden;
}

#usmap{
    width: 750px;
    float: left;
}

#map-detail {
    margin-left: 770px;
    .map-detail-label {
      text-align: center;
      font-size: large;
      padding: 5px;
      font-weight: 500;
    }
    #map-text{
      border: 1px solid #3498DB;
      border-radius: 3px;
      padding: 10px;
      height: 80px;
      color: #34495E;
      #state{
        
      }
      #average, #count {
        
      }
    }
}





