/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

tbody th {
  font-weight: 100;
}

#pieChart {
  text-align: center;
  margin: 320px 0px 50px 0px;
  padding-top: 10px;
  border: 2px solid #ddd;

}

.pie-chart-loading {
  font-size: 20px;
  padding-top: 200px;
  position: absolute;
  height: 505px;
  width: 1042px;
  background: rgba(255,255,255, 0.8);
}

.avaliable-reports {
  margin-top: 130px;
  text-align: center;
  .title {
    text-align: center;
    font-size: 20px;
    margin: 10px 0px;
  }
  a {
    padding: 5px;
    border: 1px solid #27AE60;
    color: #27AE60;
    text-decoration: none;
  }
  a.current,
  a:hover {
    text-decoration: none;
    color: white;
    background-color: #27AE60;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.single-pie-chart {
	border: 1px #eee solid;
  margin-top: 30px;
	svg {
	  height: 210px;
  	width: 600px;
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
		margin-top: 20px;
  	margin-bottom: 10px;
	}
}

input[type="checkbox"] {
	 width: initial;
	 margin-right: 5px !important;
}

span.checkbox-group {
	margin-left: 10px;
}

.report-title {
  text-align: center;
  font-size: 17px;
  color: #999;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 15px;
}

i.help {
  display: inline;
  position: relative;
  margin-left: 15px;
  top: -4px;
}

.map-container {
    width: 100%;
    overflow: hidden;
}

#usmap{
    width: 750px;
    float: left;
}

#map-detail {
    margin-left: 770px;
    .map-detail-label {
      text-align: center;
      font-size: large;
      padding: 5px;
      font-weight: 500;
    }
    #map-text{
      border: 1px solid #3498DB;
      border-radius: 3px;
      padding: 10px;
      height: 80px;
      color: #34495E;
      #state{
        
      }
      #average, #count {
        
      }
    }
}





