<%= javascript_include_tag 'appointments.js' %>
<div style='margin: 40px;'></div>
<p><b>Drag and drop</b> time slots to <b>create</b> appointments. <b>Click</b> on appointment slots to <b>delete</b>.
</p>
<div id='calendar'></div>
