<%= javascript_include_tag 'appointments.js' %>
<h1>Create Appointments<i class="fa fa-question-circle help" data-toggle="tooltip" data-placement="right" title="Drag and drop time slots to create appointments. Click on appointment slots to delete."></i></h1>
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
<div id='calendar'></div>
