<%= form_tag(:action => 'reset_password') do %>
	<div class="form-group has-feedback">
		<%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Please type in your email'%>
	</div>
	<div class="actions">
		<%= submit_tag "Reset Password", class: "btn pull-right" %>
	</div>
<% end %>	