<h1 class="small-form">Reset Password</h1>
	<%= form_tag({:action => 'reset_password'}, :class => "small-form") do %>
		<dl class="dl-horizontal">
		<dt>Email</dt>
		<dd><%= text_field_tag :email, params[:email] %></dd>
		<%= submit_tag "Reset Password", class: "button pull-right blue" %>
	<% end %>	
</div>