<div class="video-overlay">
	
</div>
<video autoplay loop id="home_page_video">
	<source src="https://doc-0o-2c-docs.googleusercontent.com/docs/securesc/mps549k6s915u5lu3d2lej2jbl8idmd1/4lerdmuvammbpabufr7n5kdmqk4lrba9/1429178400000/15910047271201550899/15910047271201550899/0B_UbUWBJBCkWVW9EdXNKMkJJZmc?e=download&nonce=u3kl4rkstg4pa&user=15910047271201550899&hash=bn4s0n78mp54bgq3ium5uqsf31kuksas" type="video/mp4">
</video>
<div class="welcome">
	<div class="title">
		CareerNet
	</div>
	<div class="description">
		Your Branch New Future Starts Here
	</div>
	<div class="explore">
		<%= link_to "Explore My Future", dashboard_path %>
	</div>
</div>
