<div class="no-nav-offset">
	<h1>Reset Password Email Sent</h1>
	<p>
		Please check your email at <strong><%= @reset_password_email %></strong> and follow the instructions to reset your password.
	</p>
	<a href="/" class="button pull-right default">Login</a>
<div class="no-nav-offset">