<div class="no-nav-offset">
	<h1 class="small-form">Reset Your Password</h1>
	<%= form_tag({:action => 'start_reset_password'}, :class => "small-form") do %>
		<dl class="dl-horizontal">
		<dt>New Password</dt>
		<dd><%= password_field_tag :password, params[:password] %></dd>
		</dl>
  <%= submit_tag "Reset Password", class: "button pull-right blue" %>
 <% end %>
 </div>